services:
  postgres:
    image: 'postgres:17.4'
    container_name: 'car-rental-db'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 'password'
      POSTGRES_DBS: carRental:carRentalPass,userManagement:userManagementPass,payment:paymentPass,analytics:analyticsPass,tracking:trackingPass
    ports:
      - '5432:5432'
    command: postgres -c wal_level=logical -c max_replication_slots=4 -c max_wal_senders=4
    volumes:
      - ./init-multiple-db.sh:/docker-entrypoint-initdb.d/init-multiple-db.sh
      - car_rental_db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "5555:80"
    volumes:
      - car_rental_pgadmin_data:/var/lib/pgadmin/

  # Kafka
  kafka:
    image: bitnamilegacy/kafka:3.3.2
    container_name: car-rental-kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093,PLAINTEXT_HOST://:29092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_HOST://kafka:29092
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT_HOST
      KAFKA_CFG_LOG_RETENTION_HOURS: 168
      KAFKA_CFG_LOG_RETENTION_BYTES: 1073741824
    volumes:
      - car_rental_kafka_data:/bitnami/kafka

  # Kafka Connect
  kafka-connect:
    image: confluentinc/cp-kafka-connect:7.9.0
    container_name: car-rental-kafka-connect
    depends_on:
      - kafka
    environment:
      CONNECT_BOOTSTRAP_SERVERS: kafka:29092
      CONNECT_REST_PORT: 28082
      CONNECT_GROUP_ID: kafka-connect
      CONNECT_CONFIG_STORAGE_TOPIC: kafka-connect-config
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_STORAGE_TOPIC: kafka-connect-offset
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_OFFSET_STORAGE_PARTITIONS: -1
      CONNECT_OFFSET_PARTITION_NAME: kafka-connect.1
      CONNECT_STATUS_STORAGE_TOPIC: kafka-connect-status
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
      CONNECT_STATUS_STORAGE_PARTITIONS: -1
      CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_INTERNAL_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
      CONNECT_INTERNAL_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      CONNECT_PRODUCER_INTERCEPTOR_CLASSES: io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor
      CONNECT_CONSUMER_INTERCEPTOR_CLASSES: io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor
      CONNECT_REST_ADVERTISED_HOST_NAME: kafka-connect
      CONNECT_PLUGIN_PATH: /usr/share/java,/usr/share/confluent-hub-components
      CONNECT_LOG4J_LOGGERS: org.reflections=ERROR
    volumes:
      - kafka_connect_plugins:/usr/share/confluent-hub-components
    command:
      - bash
      - -c
      - |
        echo "Installing Debezium connector..."
        confluent-hub install debezium/debezium-connector-postgresql:3.0.8 --no-prompt
        echo "Starting Kafka Connect..."
        /etc/confluent/docker/run

  #  kafka-ui:
  #    image: provectuslabs/kafka-ui:latest
  #    container_name: paypal-demo-kafka-ui
  #    depends_on:
  #      - kafka
  #    ports:
  #      - "9095:8080"
  #    environment:
  #      KAFKA_CLUSTERS_0_NAME: local
  #      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
  #      KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: first
  #      KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: http://kafka-connect:8083
  #      DYNAMIC_CONFIG_ENABLED: "true"

  # Setup Debezium connector
  setup-connector:
    image: curlimages/curl:latest
    container_name: car-rental-setup-connector
    depends_on:
      - kafka-connect
      - postgres
    restart: no
    command:
      - sh
      - -c
      - |
        echo "Waiting for Kafka Connect to become available..."
        until curl -s -f http://kafka-connect:8083/connectors; do
          echo "Kafka Connect not ready yet, retrying..."
          sleep 5
        done

        echo "Kafka Connect is up. Attempting to register connector..."
        RESPONSE=$$(curl -s -o /dev/null -w "%{http_code}" -X POST \
          -H "Content-Type: application/json" \
          --data '{
            "name": "paypal-outbox-connector", 
            "config": {
              "connector.class": "io.debezium.connector.postgresql.PostgresConnector",
              "database.hostname": "postgres",
              "database.port": "5432",
              "database.user": "payment",
              "database.password": "paymentPass",
              "database.dbname": "payment",
              "database.server.name": "paypal",
              "table.include.list": "public.paypal_outbox_events", 
              "topic.prefix": "paypal",
              "transforms": "unwrap",
              "transforms.unwrap.type": "io.debezium.transforms.ExtractNewRecordState",
              "transforms.unwrap.drop.tombstones": "true",
              "plugin.name": "pgoutput",
              "key.converter.schemas.enable": "false",
              "value.converter.schemas.enable": "false",
              "value.converter": "org.apache.kafka.connect.json.JsonConverter",
              "key.converter": "org.apache.kafka.connect.storage.StringConverter",
              "snapshot.mode": "initial"
            }
          }' http://kafka-connect:8083/connectors/)
        
        if [ "$$RESPONSE" -eq 201 ] || [ "$$RESPONSE" -eq 409 ]; then
          echo "Connector registered successfully (or already exists). Exiting."
          exit 0
        else
          echo "Failed to register connector. Status code: $$RESPONSE"
          exit 1
        fi

  keycloak:
    image: quay.io/keycloak/keycloak:26.2.4
    container_name: car-rental-keycloak
    ports:
      - "9090:8080"
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres-keycloak
      KC_DB_PORT: 5433
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_DB_DATABASE: keycloak
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: password
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./keycloak/import/car-rental-system-realm-dev.json:/opt/keycloak/data/import/realm-export.json:ro
      - ./keycloak/export:/opt/keycloak/data/export
      - ./keycloak/providers:/opt/keycloak/providers
    depends_on:
      - postgres-keycloak
      - kafka

  postgres-keycloak:
    image: postgres:17.4
    container_name: car-rental-postgres-keycloak
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    ports:
      - "5433:5432"
    volumes:
      - car_rental_keycloak_data:/var/lib/postgresql/data

  mailpit:
    image: axllent/mailpit:v1.27
    container_name: mailpit
    ports:
      - "1025:1025"  # SMTP port
      - "8025:8025"  # Web UI port
    restart: unless-stopped
    environment:
      - TZ=Europe/Rome
    volumes:
      - car_rental_mailpit_data:/data

  osrm-backend:
    image: osrm/osrm-backend:v5.25.0
    container_name: osrm-backend
    ports:
      - "5000:5000"
    restart: unless-stopped
    volumes:
      - ./osrm/data:/data
    command: osrm-routed --algorithm mld /data/turin.osm.pbf

#  osrm-frontend:
#    image: osrm/osrm-frontend
#    container_name: osrm-frontend
#    ports:
#      - "9966:9966"
#    restart: unless-stopped

volumes:
  car_rental_db_data:
  car_rental_pgadmin_data:
  car_rental_kafka_data:
  car_rental_kafka_connect_plugins_data:
  car_rental_keycloak_data:
  car_rental_mailpit_data: